<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Math!</title>
  </head>
  <body>
    <h1>Math problems with 2 numbers</h1>
    <form action="/math-result" method="post">
      <label for="num1">Number 1: <input name="num1" type="number" /></label>
      <label for="num2">Number 2: <input name="num2" type="number" /></label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
